{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main">
   <!-- .app-main -->
   <div class="wrapper">
      <!-- .wrapper -->
      <div class="page ">
         <!-- .page -->
         <div class="page-inner">
            <!-- .page-inner -->
            <header class="page-title-bar">
               <!-- .page-title-bar -->
               <div class="d-flex justify-content-between align-items-center">
                  <!-- .d-flex -->
               </div>
               <!-- /.d-flex -->
               <!-- grid row -->
               <div class="row text-center text-sm-left">
                  <!-- grid column -->
                  <div class="col">
                     <h1 class="page-title"> Service Provider List &amp; Codes</h1>
                  </div>
                  <!-- /grid column -->
               </div>
               <!-- /grid row -->
            </header>
            <!-- .page-section -->
            <div class="page-section">
               <!-- .nav-scroller -->
               <div class="nav-scroller border-bottom">
                  <!-- .nav-tabs -->
                  <ul class="nav nav-tabs">
                     <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#sp-provider">Service Providers</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#codes">Codes</a>
                     </li>
                  </ul>
                  <!-- /.nav-tabs -->
               </div>
               <!-- /.nav-scroller -->
               <div class="tab-content pt-2">
                  <!-- .tab-pane -->
                  <div class="tab-pane fade show active" id="sp-provider" role="tabpanel" aria-labelledby="sp-provider-tab">
                     <!-- .card -->
                     <div class="card card-fluid">
                        <div class="card-header">
                           Service Provider List
                           <a href="{%url 'bima_policy:add_sp' %}" class="btn btn-secondary btn-sm float-right"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                        <!-- .card-body -->
                        <div class="card-body">
                           <!-- .table -->
                           <div class="table-responsive">
                              <div id="tblList_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                 <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                       <div class="dataTables_length" id="tblList_length">
                                          <label>
                                             Show 
                                             <select name="tblList_length" aria-controls="tblList" class="custom-select">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                             </select>
                                             entries
                                          </label>
                                       </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                       <div id="tblList_filter" class="dataTables_filter"><label>Search:<input type="search" data-table="data_table"  id="myInput" onkeyup="myFunction()" class="form-control" placeholder="" aria-controls="tblList"></label></div>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <table id="tblList" class="table table-bordered1 dataTable no-footer" role="grid" aria-describedby="tblList_info">
                                       <thead>
                                          <tr role="row">
                                             <th class="text-center width-10p sorting_desc" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-sort="descending" aria-label="Sr. No.: activate to sort column ascending">Sr. No.</th>
                                             <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                             <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Mobile No.: activate to sort column ascending">Mobile No.</th>
                                             <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending">City</th>
                                             <th class="text-center width-10p sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                             <th class="text-center nowrap sorting_disabled" rowspan="1" colspan="1" aria-label="#">#</th>
                                          </tr>
                                       </thead>
                                       {% for value in data %}
                                       <tbody>
                                          <tr role="row" class="odd">
                                             <td class="text-center width-10p sorting_1">{{forloop.counter}}</td>
                                             <td>{{value.full_name}}</td>
                                             <td>{{value.mob_no}}</td>
                                             <td>{{value.city}}</td>
                                             <td class=" text-center width-10p">
                                                
                                                {% comment %} {% if value.status is 'Active'%} {% endcomment %}
                                                <span class="badge badge-success">{{value.status}}</span>
                                                {% comment %} {% elif value.status is 'Inactive' %}
                                                <span class="badge badge-danger">{{value.status}}</span>
                                                {% endif %} {% endcomment %}
                                             </td>
                                             <td class=" text-center nowrap">
                                                <form method='POST' action="{{value.id}}/delete">
                                                {% csrf_token %}
                                                <a href="{{value.id}}/edit" class="mr-2 btn btn-sm btn-icon btn-secondary" name="edit"><i class="fa fa-pencil-alt mt-2"></i></a>
                                                <button class="btn btn-sm btn-icon btn-secondary" data-action="remove" title="Remove"><i class="text-danger fa fa-trash-alt"></i></button>
                                                </form>
                                             </td>
                                          </tr>
                                         
                                       </tbody>
                                       {%endfor%}
                                    </table>
                                 </div>
                                 <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-5">
                                       <div class="dataTables_info" id="tblList_info" role="status" aria-live="polite">Showing entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7 d-flex justify-content-end">
                                       <div class="dataTables_paginate paging_simple_numbers" id="tblList_paginate">
                                          <ul class="pagination justify-content-center">
                                             <li class="paginate_button page-item previous disabled" id="tblList_previous"><a href="#" aria-controls="tblList" data-dt-idx="0" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-left"></i></a></li>
                                             <li class="paginate_button page-item active"><a href="#" aria-controls="tblList" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                             <li class="paginate_button page-item next disabled" id="tblList_next"><a href="#" aria-controls="tblList" data-dt-idx="2" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-right"></i></a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.card-body -->
                     </div>
                     <!-- /.card -->
                     <div class="modal fade" id="mdlspdel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 id="ModalLabel" class="modal-title">Confirmation</h5>
                              </div>
                              <div class="modal-body">
                                 <p>Do you want to Remove selected Service Provider</p>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">No</button>
                                 <input type="submit" id="sp_remove" class="btn btn-primary w-100p" value="Yes">
                                 <input type="hidden" id="spid" readonly="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="codes" role="tabpanel" aria-labelledby="codes-tab">
                     <!-- .card -->
                     <div class="card card-fluid">
                        <div class="card-header">
                           Service Provider Codes
                           <button data-toggle="modal" data-target="#mdlspcode" class="btn btn-secondary btn-sm float-right"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                        <div class="card-body">
                           <!-- .table -->
                           <div class="table-responsive">
                              <div id="tblList2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                 <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                       <div class="dataTables_length" id="tblList2_length">
                                          <label>
                                             Show 
                                             <select name="tblList2_length" aria-controls="tblList2" class="custom-select">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                             </select>
                                             entries
                                          </label>
                                       </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                       <div id="tblList2_filter" class="dataTables_filter"><label>Search:<input type="search" data-table="data_table"  id="myInput2" onkeyup="bFunction()" class="form-control" placeholder="" aria-controls="tblList2"></label></div>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <table id="tblList2" class="table table-bordered1 dataTable no-footer" role="grid" aria-describedby="tblList2_info">
                                       <thead>
                                          <tr role="row">
                                             <th class="text-center nowrap w-10pc sorting_asc" tabindex="0" aria-controls="tblList2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sr. No.: activate to sort column descending" style="width: 0px;">Sr. No.</th>
                                             <th class="sorting" tabindex="0" aria-controls="tblList2" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 0px;">Code</th>
                                             <th class="text-center nowrap w-10pc sorting" tabindex="0" aria-controls="tblList2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 0px;">Status</th>
                                             <th class="text-center w-10pc nowrap sorting_disabled" rowspan="1" colspan="1" aria-label="#" style="width: 0px;">#</th>
                                          </tr>
                                       </thead>
                                     {%for value in brokerdata%}
                                       <tbody>
                                          <tr role="row" class="odd">
                                             <td class="text-center nowrap w-10pc sorting_1">{{forloop.counter}}</td>
                                             <td>{{value.code}}</td>
                                             <td class=" text-center nowrap w-10pc"><span class="badge badge-success">{{value.status}}</span></td>
                                             <td class=" text-center w-10pc nowrap">
                                                {% comment %} <a class="mr-1 btn btn-sm btn-icon btn-secondary" data-id="2" title="Edit" onclick="update(this);">
                                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                                </a> {% endcomment %}
                                                <a class="mr-1 btn btn-sm btn-icon btn-secondary" href='broker/{{value.id}}/del' name='delbr'>
                                                <i class="fa fa-trash-alt text-danger mt-2" aria-hidden="true"></i>
                                                </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                       {%endfor%}
                                    </table>
                                 </div>
                                 <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-5">
                                       <div class="dataTables_info" id="tblList2_info" role="status" aria-live="polite">Showing  entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7 d-flex justify-content-end">
                                       <div class="dataTables_paginate paging_simple_numbers" id="tblList2_paginate">
                                          <ul class="pagination justify-content-center">
                                             <li class="paginate_button page-item previous disabled" id="tblList2_previous"><a href="#" aria-controls="tblList2" data-dt-idx="0" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-left"></i></a></li>
                                             <li class="paginate_button page-item active"><a href="#" aria-controls="tblList2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                             <li class="paginate_button page-item next disabled" id="tblList2_next"><a href="#" aria-controls="tblList2" data-dt-idx="2" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-right"></i></a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.card-body -->
                     </div>
                     <div class="modal fade" id="mdlspcode" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="inscompModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 id="inscompModalLabel" class="modal-title"> Add New Code </h5>
                              </div>
                              <form method="post" autocomplete="off" data-parsley-validate="true" name="frmspcode" novalidate="">
                                 {%csrf_token%}
                                 <div class="modal-body">
                                    <div class="form-group">
                                       <label class="col-form-label">Code<em class="text-danger">*</em></label>
                                       <input type="text" class="form-control" data-parsley-required="true" name="code">
                                       <input type="hidden" name="csrf_token" data-parsley-required="true" value="f3e892226df2d82cf1129b35ec088980" readonly="">
                                    </div>
                                    <div class="form-group">
                                       <label class="form-label">Status</label>
                                       <select name="status" class="custom-select">
                                          <option value="Active">Active</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                    <div class="custom-control custom-control-inline custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="ckreload" data-parsley-multiple="ckreload"> <label class="custom-control-label" for="ckreload">Stay on this page after Save.</label>
                                    </div>
                                    <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
                                    <button type="submit" name="code_add" class="btn btn-primary w-100p">Save</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="modal fade" id="mdlspcodeedit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 id="ModalLabel" class="modal-title">Update Code</h5>
                              </div>
                              <form method="post" autocomplete="off" data-parsley-validate="true" name="frmspcodeedit" novalidate="">
                                 {% csrf_token %}
                                 <div class="modal-body">
                                    <div class="form-group">
                                       <label class="col-form-label">Name<em class="text-danger">*</em></label>
                                       <input type="text" class="form-control" data-parsley-required="true" id="code" disabled="">
                                       <input type="hidden" id="spcid" name="spcid" data-parsley-required="true" readonly="">
                                    </div>
                                    <div class="form-group">
                                       <label class="form-label">Status</label>
                                       <select name="status_update" id="status_update" class="custom-select">
                                          <option value="Active">Active</option>
                                          <option value="Inactive">Inactive</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
                                    <button type="submit" name="code_update" class="btn btn-primary w-100p">Update</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="modal fade" id="mdlspcodedel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 id="ModalLabel" class="modal-title">Confirmation</h5>
                              </div>
                              <div class="modal-body">
                                 <p>Do you want to Remove selected code</p>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">No</button>
                                 <input type="submit" id="code_remove" class="btn btn-primary w-100p" value="Yes">
                                 <input type="hidden" id="spcodeid" readonly="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.page-section -->
         </div>
         <!-- /.page-inner -->
      </div>
      <!-- /.page -->
   </div>
   <!-- /.wrapper -->
</main>
<!-- /.app-main -->
<script>
   function myFunction() {
     // Declare variables
     var input, filter, table, tr, td, i, txtValue;
     input = document.getElementById("myInput");
     filter = input.value.toUpperCase();
     table = document.getElementById("tblList");
     tr = table.getElementsByTagName("tr");
   
     // Loop through all table rows, and hide those who don't match the search query
     for (i = 0; i < tr.length; i++) {
       td = tr[i].getElementsByTagName("td")[1];
       if (td) {
         txtValue = td.textContent || td.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1) {
           tr[i].style.display = "";
         } else {
           tr[i].style.display = "none";
         }
       }
     }
   }
   </script>

   <script>
      function bFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblList2");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
   



{%endblock%}