{%extends "base.html"%}
{%block content%}
{%load static %}

<main class="app-main"><!-- .app-main -->
	<div class="wrapper"><!-- .wrapper -->
		<div class="page">
			<!-- .page-cover -->
			<header class="page-cover" style="background-image: url(../public/login-bg.png);">
				<div class="text-center">
				<a href="javascript:;" class="user-avatar user-avatar-xl"><img src="https://www.bimabook.in/public/agent.png" alt=""></a>
				<h2 class="h4 mt-2 mb-0"> Raj Dave </h2>
				<div class="my-1 text-info">
					<a href="tel:9009992341" class="text-primary"> 9009992341 </a>
				</div>
				<p class="text-muted"><a href="mailto:raj@gmail.com"> raj@gmail.com </a></p>
				<p>vijay nagar, Indore, Madhya Pradesh</p>
				</div><!-- .cover-controls -->
				<div class="cover-controls cover-controls-bottom">
					<a href="javascript:;" class="btn btn-outline-secondary">Joining Date 04/08/2022</a>
				</div>
			</header>
			<div class="page-inner pl-3 pr-3">

<div class="page-section">
<div class="section-block">
<div class="metric-row">
<div class="col-12 col-sm-6 col-lg-3">
  <div class="card-metric bg-danger text-white">
	<div class="metric">
	  <p class="metric-value h3">
		<sub><i class="icofont text-white icofont-ebook"></i></sub> 
		<span class="value">
		0				</span>
	  </p>
	  <h2 class="metric-label text-white"> Overall OK Policy </h2>
	</div>
  </div><!-- /.metric -->
</div><!-- /metric column -->
<!-- metric column -->
<div class="col-12 col-sm-6 col-lg-3">
  <!-- .metric -->
  <div class="card-metric text-white bg-red">
	<div class="metric">
	  <p class="metric-value h3">
		<sub><i class="icofont text-white icofont-ebook"></i></sub> 
		<span class="value">
		0				</span>
	  </p>
	  <h2 class="metric-label text-white"> Overall Cancelled Policy </h2>
	</div>
  </div><!-- /.metric -->
</div><!-- /metric column -->
<!-- metric column -->
<div class="col-12 col-sm-6 col-lg-3">
  <!-- .metric -->
  <div class="card-metric bg-success text-white">
	<div class="metric">
	  <p class="metric-value h3">
		<sub><i class="icofont text-white icofont-rupee"></i></sub> <span class="value">
		0				
		</span>
	  </p>
	  <h2 class="metric-label text-white"> Overall Paid Amount </h2>
	</div>
  </div><!-- /.metric -->
</div><!-- /metric column -->
<!-- metric column -->
<div class="col-12 col-sm-6 col-lg-3">
  <!-- .metric -->
  <div class="card-metric text-red">
	<div class="metric">
	  <p class="metric-value h3">
		<sub><i class="icofont text-red icofont-rupee"></i></sub> <span class="value">
		0				
		</span>
	  </p>
	  <h2 class="metric-label text-red"> Overall Pending Amount </h2>
	</div>
  </div><!-- /.metric -->
</div><!-- /metric column -->
</div><!-- /metric row -->
<div class="d-flex justify-content-between align-items-center">
		<h1 class="section-title mb-0"> Achievement <small class="d-none d-md-inline-block d-lg-inline-block d-xl-inline-block">(01-Jan-2022 to 07-Sep-2022)</small></h1><!-- .dropdown -->
<div class="dropdown">
	<form method="post" action="profile.php?tab=overview&amp;q=JsG53z2bl7DaS9KixaVNHKPHuK8dPXk0hVyK0DmxDw9quOzpj4IT9xrdCgPteLp01i8a1f9bIkzUV7yNIyyO0LFoiqg6452YXISk7nPmaxA=">
	<button class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>This Year</span> <i class="fa fa-fw fa-caret-down"></i></button> <!-- .dropdown-menu -->
	<button class="btn btn-info">Go</button> <!-- .dropdown-menu -->
	<div class="dropdown-menu dropdown-menu-right dropdown-menu-md stop-propagation">
		<div class="dropdown-arrow"></div><!-- .custom-control -->
		<!-- .custom-control -->
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="dpWeek" name="dpFilter" value="This Week"> <label class="custom-control-label d-flex justify-content-between" for="dpWeek"><span>This Week</span> <span class="text-muted">Sep 05-11</span></label>
		</div><!-- /.custom-control -->
		<!-- .custom-control -->
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="dpMonth" name="dpFilter" value="This Month"> <label class="custom-control-label d-flex justify-content-between" for="dpMonth"><span>This Month</span> <span class="text-muted">Sep 01-30</span></label>
		</div><!-- /.custom-control -->
		<!-- .custom-control -->
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="dpYear" name="dpFilter" value="This Year" checked=""> <label class="custom-control-label d-flex justify-content-between" for="dpYear"><span>This Year</span> <span class="text-muted">2022</span></label>
		</div><!-- /.custom-control -->
		<!-- .custom-control -->
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="dpCustom" name="dpFilter" value="Custom"> <label class="custom-control-label" for="dpCustom">Custom</label>
			<div class="custom-control-hint my-1">
				<!-- datepicker:range -->
				<input type="text" name="custom_date" value="" class="form-control flatpickr-input" data-toggle="flatpickr" data-mode="range" data-date-format="d-m-Y" readonly="readonly"> <!-- /datepicker:range -->
			</div>
		</div><!-- /.custom-control -->
	</div><!-- /.dropdown-menu -->
	</form>
</div><!-- /.dropdown -->
</div>
<h1 class="section-title d-sm-block d-md-none d-lg-none d-xl-none mb-0"><small>(01-Jan-2022 to 07-Sep-2022)</small></h1>
</div><!-- /.section-block -->
<!-- grid row -->
<div class="row">
<!-- grid column -->
<div class="col-xl-8">
<!-- .card -->
<div class="card card-body card-fluid">
  <!-- legend -->
  <ul class="list-inline small">
	<li class="list-inline-item">
		<i class="fa fa-fw fa-circle text-teal"></i> OK Policies
	</li>
	<li class="list-inline-item">
		<i class="fa fa-fw fa-circle text-red"></i> Cancelled Policies
	</li>
  </ul><!-- /legend -->
	<div class="chartjs" style="height: 270px"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
		<canvas id="canvas-achievement" style="display: block; height: 270px; width: 578px;" width="722" height="337" class="chartjs-render-monitor"></canvas>
	</div>
</div><!-- /.card -->
</div><!-- /grid column -->
<!-- grid column -->
<div class="col-xl-4">
<!-- .card -->
<div class="card card-fluid">
  <!-- .card-header -->
  <div class="card-header"> Overview</div><!-- /.card-header -->
  <!-- .card-body -->
  <div class="card-body">
	<dl class="d-flex justify-content-between">
	  <dt class="text-left">
		<span class="mr-2">Sum of OD</span>
	  </dt>
	  <dd class="text-right mb-0">
		<small class="text-muted"><i class="icofont icofont-rupee"></i></small>
		<strong>
						</strong>
	  </dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
	  <dt class="text-left">
		<span class="mr-2">Sum of TP</span>
	  </dt>
	  <dd class="text-right mb-0">
		<small class="text-muted"><i class="icofont icofont-rupee"></i></small>
		<strong>
						</strong>
	  </dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
	  <dt class="text-left">
		<span class="mr-2">Sum of NET</span>
	  </dt>
	  <dd class="text-right mb-0">
		<small class="text-muted"><i class="icofont icofont-rupee"></i></small>
		<strong>
						</strong>
	  </dd>
	</dl>
  </div><!-- /.card-body -->
  <!-- .card-body -->
  <div class="card-body border-top">
	<div class="summary">
	  <p class="text-left">
		<strong class="mr-2">Total Earnings</strong>
	  </p>
	  <p class="text-center">
		<strong class="h3">
		<small class="text-muted"><i class="icofont icofont-rupee"></i></small>
						</strong> 
	  </p>
	</div>
  </div><!-- /.card-body -->
</div><!-- /.card -->
</div><!-- /grid column -->
</div><!-- /grid row -->
<!-- grid row -->
<div class="row">
<!-- grid column -->
<div class="col-xl-12">
<!-- .card -->
<div class="card card-fluid">
	<div class="card-body">
	<!-- .table-responsive -->
	<div class="table-responsive">
	<!-- .table -->
	<table id="tblList" class="table table-striped1 table-hover no-wrap table-bordered1">
	  <!-- thead -->
	  <thead>
		<tr>
			<th class="bg-light">Month</th>
			<th class="text-center bg-light">Total Policy</th>
			<th class="text-center bg-light">Cancelled</th>
			<th class="text-center bg-danger text-white">OK Policy</th>
			<th class="text-center bg-red text-white">Cancellation Amt.</th>
			<th class="text-center bg-success text-white">Commision</th>
			<th class="text-center bg-blue text-white">Paid</th>
			<th class="text-center bg-gray text-white">Balance</th>
		</tr>					
	  </thead><!-- /thead -->
	  <!-- tbody -->
	  <tbody>
		<!-- tr -->
		<tr>
				<td></td>
				<td class="text-center">0</td>
				<td class="text-center">0</td>
				<td class="text-center">0</td>
				<td class="text-center">0</td>
				<td class="text-center">0</td>
				<td class="text-center">0</td>
				<td class="text-center text-red">0</td>
			</tr><tr>
				<th class="bg-light">Total</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light">0</th>
				<th class="text-center bg-light text-red">0</th>
			</tr>			  </tbody><!-- /tbody -->
	</table><!-- /.table -->
	</div><!-- /.table-responsive -->
	</div>
  <!-- .card-footer -->
  <div class="card-footer">
				<a href="https://www.bimabook.in/ins/list.php?q=10" class="card-footer-item">View Details <i class="fa fa-fw fa-angle-right"></i></a>
  </div><!-- /.card-footer -->
</div><!-- /.card -->
</div><!-- /grid column -->
<!-- grid column -->
</div><!-- /grid row -->
</div><!-- /.page-section -->
</div><!-- /.page-inner -->				</div><!-- /.page -->
	</div><!-- /.wrapper -->
</main>
{%endblock%}