{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main">
   <!-- .app-main -->
   <div class="wrapper">
      <!-- .wrapper -->
      <div class="page ">
         <!-- .page -->
         <div class="page-inner">
            <!-- .page-inner -->
            <header class="page-title-bar">
               <!-- .page-title-bar -->
               <!-- grid row -->
               <div class="row text-center text-sm-left">
                  <!-- grid column -->
                  <div class="col">
                     <h1 class="page-title"> RTO Conversion
                        <button data-toggle="modal" data-target="#mdlrto" class="btn btn-secondary btn-sm float-right"><i class="fa fa-plus"></i> Add New</button>
                     </h1>
                  </div>
                  <!-- /grid column -->
               </div>
               <!-- /grid row -->
            </header>
            <!-- .page-section -->
            <div class="page-section">
               <!-- .card -->
               <div class="card card-fluid">
                  <!-- .card-body -->
                  <div class="card-body">
                     <!-- .table -->
                     <div class="table-responsive">
                        <div id="tblList_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                           <div class="row">
                              <div class="col-sm-12 col-md-6">
                                 
                              </div>
                              <div class="col-sm-12 col-md-6">
                                 <div id="tblList_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="tblList"></label></div>
                              </div>
                           </div>
                           <div class="table-responsive">
                              <table id="tblList" class="text-center nowrap table table-bordered1 dataTable no-footer" role="grid" aria-describedby="tblList_info">
                                 <thead>
                                    <tr role="row">
                                       <th class="w-10pc sorting_asc" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sr. No.: activate to sort column descending" style="width: 0px;">Sr. No.</th>
                                       <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="RTO Series: activate to sort column ascending" style="width: 0px;">RTO Series</th>
                                       <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="RTO Return: activate to sort column ascending" style="width: 0px;">RTO Return</th>
                                       <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 0px;">Status</th>
                                       <th class="w-10pc sorting_disabled" rowspan="1" colspan="1" aria-label="#" style="width: 0px;">#</th>
                                    </tr>
                                 </thead>
                                 {%for value in data%}
                                 <tbody>
                                    <tr role="row" class="odd">
                                       <td class="w-10pc sorting_1">{{forloop.counter}}</td>
                                       <td>{{value.rto_series}}</td>
                                       <td>{{value.rto_return}}</td>
                                       <td><span class="badge badge-success">{{value.status}}</span></td>
                                       <td class=" w-10pc">
                                       <form method='POST' action="{{value.id}}">
                                          {% csrf_token %}
                                             {% comment %} <button type='submit' class="mr-1 btn btn-sm btn-icon btn-secondary" name="edit" >
                                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                             </button> {% endcomment %}
                                             <button type='submit'class="mr-1 btn btn-md btn-icon btn-secondary" name="delete" >
                                                <i class="fa fa-trash-alt text-danger" aria-hidden="true"></i>
                                             </button>
                                       </form>
                                       </td>
                                    </tr>
                                    
                                </tbody>
                                {% endfor %}
                              </table>
                           </div>
                           <div class="row align-items-center">
                              <div class="col-sm-12 col-md-5">
                                 <div class="dataTables_info" id="tblList_info" role="status" aria-live="polite">Showing entries</div>
                              </div>
                              <div class="col-sm-12 col-md-7 d-flex justify-content-end">
                                 <div class="dataTables_paginate paging_simple_numbers" id="tblList_paginate">
                                    <ul class="pagination justify-content-center">
                                       <li class="paginate_button page-item previous disabled" id="tblList_previous"><a href="#" aria-controls="tblList" data-dt-idx="0" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-left"></i></a></li>
                                       <li class="paginate_button page-item active"><a href="#" aria-controls="tblList" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                       <li class="paginate_button page-item next disabled" id="tblList_next"><a href="#" aria-controls="tblList" data-dt-idx="2" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.card-body -->
               </div>
               <!-- /.card -->
            </div>
            <!-- /.page-section -->
            <div class="modal fade" id="mdlrto" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="rtoModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 id="rtoModalLabel" class="modal-title"> Add New RTO Conversion </h5>
                     </div>
                     <form method="post" autocomplete="off" data-parsley-validate="true" name="frmrto" novalidate="">
                        {% csrf_token %}
                        <div class="modal-body">
                           <div class="form-group">
                              <label class="col-form-label">RTO Series<em class="text-danger">*</em></label>
                              <div class="input-group input-group-alt">
                                 <input type="text" class="input-group-prepend form-control" data-mask-as-number-minlength="4" placeholder="e.g. DL02 (min 2 max 4 character)" data-parsley-pattern="^(?:[A-Za-z0-9]+$)" maxlength="4" data-parsley-minlength="2" data-parsley-maxlength="4" data-parsley-required="true" name="rtoseries">
                                 <label class="col-form-label ml-2 mr-2">=</label>
                                 <input type="text" class="input-group-append form-control" data-mask-as-number-minlength="4" placeholder="e.g. HR26 (min 2 max 4 character)" data-parsley-pattern="^(?:[A-Za-z0-9]+$)" maxlength="4" data-parsley-minlength="2" data-parsley-maxlength="4" data-parsley-required="true" name="rtoreturn">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="form-label">Status</label>
                              <select name="status" class="custom-select">
                                 <option value="Active">Active</option>
                                 {% comment %} <option value="Inactive">Inactive</option> {% endcomment %}
                              </select>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <div class="custom-control custom-control-inline custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="ckreload" data-parsley-multiple="ckreload"> <label class="custom-control-label" for="ckreload">Stay on this page after Save.</label>
                           </div>
                           <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
                           <button type="submit" name="rto_add" class="btn btn-primary w-100p">Save</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="mdlrtoedit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 id="ModalLabel" class="modal-title">Update RTO Conversion</h5>
                     </div>
                     <form method="post" autocomplete="off" data-parsley-validate="true" name="frmerto" novalidate="">
                        <div class="modal-body">
                           <div class="form-group">
                              <label class="col-form-label">RTO Series<em class="text-danger">*</em></label>
                              <div class="input-group input-group-alt">
                                 <input type="hidden" id="rtoeid" name="rtoeid" data-parsley-required="true" readonly="">
                                 <input type="text" class="input-group-prepend form-control" data-mask-as-number-minlength="2" placeholder="e.g. DL02 (min 2 max 4 character)" data-parsley-pattern="^(?:[A-Za-z0-9]+$)" maxlength="4" data-parsley-minlength="1" data-parsley-maxlength="4" data-parsley-required="true" id="ertoseries" name="ertoseries">
                                 <label class="col-form-label ml-2 mr-2">=</label>
                                 <input type="text" class="input-group-append form-control" data-mask-as-number-minlength="2" placeholder="e.g. DL02 (min 2 max 4 character)" data-parsley-pattern="^(?:[A-Za-z0-9]+$)" maxlength="4" data-parsley-minlength="1" data-parsley-maxlength="4" data-parsley-required="true" id="ertoreturn" name="ertoreturn">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="form-label">Status</label>
                              <select name="estatus_update" id="estatus_update" class="custom-select">
                                 <option value="Active">Active</option>
                                 <option value="Inactive">Inactive</option>
                              </select>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
                           <input type="submit" name="rto_update" class="btn btn-primary w-100p" value="Update">
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="mdlrtodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 id="ModalLabel" class="modal-title">Confirmation</h5>
                     </div>
                     <div class="modal-body">
                        <p>Do you want to Remove selected Series</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">No</button>
                        <input type="submit" id="rto_remove" class="btn btn-primary w-100p" value="Yes">
                        <input type="hidden" id="rtoid" readonly="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.page-inner -->
      </div>
      <!-- /.page -->
   </div>
   <!-- /.wrapper -->
</main>
<!-- /.app-main -->
<div class="aside-backdrop"></div>
</div><!-- /.app -->
<div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
   <!-- .modal-dialog -->
   <div class="modal-dialog" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
         <!-- .modal-header -->
         <div class="modal-header">
            <h5 class="modal-title">
               <i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error 
            </h5>
         </div>
         <!-- /.modal-header -->
         <!-- .modal-body -->
         <div class="modal-body">
            <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error remains the same, you need to contact your Administrator immediately.</p>
         </div>
         <!-- /.modal-body -->
         <!-- .modal-footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
         </div>
         <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- BEGIN BASE JS -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script><!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/stacked-menu.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js'%}"></script><!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="{%static 'js/parsley.js'%}"></script>
<!-- BEGIN THEME JS -->
<script src="{%static 'js/theme.js' %}"></script> 
<script src="{%static 'js/toastr.min.js' %}"></script>
<script src="{%static 'js/flatpickr.min.js' %}"></script>
<script src="{%static 'js/select2.full.min.js' %}"></script>
<script src="{%static 'js/moment.js' %}"></script>
<script src="{%static 'js/mask-as-number.min.js' %}"></script>
<script src="{%static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{%static 'js/jquery.form.js' %}"></script>
<script src="{%static 'js/custom.min.js' %}"></script>
<script src="rto.js"></script>
</body></html>
{%endblock%}