{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main"><!-- .app-main -->
    <div class="wrapper"><!-- .wrapper -->
        <div class="page "><!-- .page -->
            <div class="page-inner"> <!-- .page-inner -->
                <header class="page-title-bar"><!-- .page-title-bar -->
                <div class="d-flex justify-content-between align-items-center"><!-- .d-flex -->
                    <!-- .breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">
                                <a href="{%url 'bima_policy:slab'%}"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
                            </li>
                        </ol>
                    </nav><!-- /.breadcrumb -->
                </div><!-- /.d-flex -->
                <!-- grid row -->
                <div class="row text-center text-sm-left">
                </div>
                </header>
                <!-- .page-section -->
                <div class="col-md-5 mb-3">
                    <!-- grid row -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 id="ModalLabel" class="modal-title">Update Slab Name</h6>
                        </div>
                        {%for value in data%}
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-form-label">Slab Name<em class="text-danger">*</em></label>
                                    <input type="text" class="form-control" data-parsley-required="true" id="slab_name", name="slab_name", value="{{value.slab_name}}">
                                    <input type="hidden" id="vcid" name="vcid" data-parsley-required="true" readonly="" value="28">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <select name="status" id="status" class="custom-select">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
                                <button type="submit" name="slab_update" class="btn btn-primary w-100p">Update</button>
                            </div>
                        </form>
                        {%endfor%}
                    </div>
                </div><!-- /.page-section -->
            </div><!-- /.page-inner -->
        </div><!-- /.page -->
    </div><!-- /.wrapper -->
</main>
{%endblock%}
