{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main">
   <!-- .wrapper -->
   <div class="wrapper">
      <div class="page-inner">
         <!-- .page-inner -->
         <header class="page-title-bar">
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="{%url 'bima_policy:slab'%}"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Payout Slabs</a>
                  </li>
                  <li class="breadcrumb-item active">
                     {% for value in data1 %}
                     <a href="javascript:void(0);"></a>
                     {% endfor %}
                  </li>
               </ol>
            </nav>
            <h1 class="page-title"> Payout List 
               <button class="btn btn-secondary btn-sm float-right" id="download_payout" onclick="ExportToExcel('xlsx')"><i class="fa fa-download"></i> Download</button>
               <a href="{%url 'bima_policy:slab_payoutform' %}" class="btn btn-secondary btn-sm float-right mr-2"><i class="fa fa-plus"></i> Add New</a>
            </h1>
         </header>
         <!-- .page-section -->
         <div class="page-section">
            <!-- .card -->
            <div class="card card-fluid">
               <!-- .card-body -->
               <div class="card-body">
                  <!-- .table -->
                  <div class="table-responsive">
                     <div id="tblList_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                           <div class="col-sm-12 col-md-6">
                              <div class="dataTables_length" id="tblList_length">
                                 <label>
                                    Show 
                                    <select name="tblList_length" aria-controls="tblList" class="custom-select">
                                       <option value="10">10</option>
                                       <option value="25">25</option>
                                       <option value="50">50</option>
                                       <option value="100">100</option>
                                    </select>
                                    entries
                                 </label>
                              </div>
                           </div>
                           <div class="col-sm-12 col-md-6">
                              <div id="tblList_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="tblList"></label></div>
                           </div>
                        </div>
                        <div class="table-responsive">
                           <table id="tblList" class="table nowrap dataTable no-footer" role="grid" aria-describedby="tblList_info">
                              <thead>
                                 <tr role="row">
                                    <th class="text-center w-10pc sorting_asc" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sr. No.: activate to sort column descending" style="width: 0px;">Sr. No.</th>
                                    <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Payout Name: activate to sort column ascending" style="width: 0px;">Payout Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Case Type: activate to sort column ascending" style="width: 0px;">Case Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Coverage: activate to sort column ascending" style="width: 0px;">Coverage</th>
                                    <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Fuel Type: activate to sort column ascending" style="width: 0px;">Fuel Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="CPA: activate to sort column ascending" style="width: 0px;">CPA</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Reward On: activate to sort column ascending" style="width: 0px;">Reward On</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Reward %age: activate to sort column ascending" style="width: 0px;">Reward %age</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Self Reward On: activate to sort column ascending" style="width: 0px;">Self Reward On</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Self Reward %age: activate to sort column ascending" style="width: 0px;">Self Reward %age</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblList" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 0px;">Status</th>
                                    <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="#" style="width: 0px;">#</th>
                                 </tr>
                              </thead>
                              {%for value in data1%}
                              <tbody>
                                 <tr role="row" class="odd">
                                    <td class="text-center w-10pc sorting_1">{{forloop.counter}}</td>
                                    <td>
                                       {% comment %} <a href="{%url 'bima_policy:slab_payoutform'%}">{{value.payout_name}}</a> {% endcomment %}
                                       <a href="/bima_policy/slab/slab_payoutformshow/{{value.payoutid}}" class="">{{value.payout_name}}</a>
                                    </td>
                                    
                                    <td>{{value.case_type}}</td>
                                    <td>{{value.coverage}}</td>
                                    <td>{{value.fuel_type}}</td>
                                    <td>{{value.cpa}}</td>
                                    <td class=" text-center ">{{value.rewards_on}}</td>
                                    <td class=" text-center ">{{value.rewards_age}}</td>
                                    <td class=" text-center ">{{value.self_rewards_on}}</td>
                                    <td class=" text-center ">{{value.self_rewards_age}}</td>
                                    <td class=" text-center "><span class="badge badge-success">{{value.status}}</span></td>
                                    <td class=" text-center">
                                       <form method="post">
                                          {% csrf_token %}
                                          <a href="/bima_policy/slab/slab_payoutformshow/{{value.payoutid}}" class="mr-1 btn btn-sm btn-icon btn-secondary" title="Edit">
                                          <i class="fa fa-pencil-alt mt-2" aria-hidden="true"></i>
                                          </a>
                                          <a href="{%url 'bima_policy:payout_delete' value.payoutid %}" class="mr-1 btn btn-sm btn-icon btn-secondary " title="Remove">
                                          <i class="fa fa-trash-alt text-danger mt-2" aria-hidden="true"></i>
                                          </a>
                                       </form>
                                    </td>
                                 </tr>
                              </tbody>
                              {%endfor%}
                           </table>
                        </div>
                        <div class="row align-items-center">
                           <div class="col-sm-12 col-md-5">
                              <div class="dataTables_info" id="tblList_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
                           </div>
                           <div class="col-sm-12 col-md-7 d-flex justify-content-end">
                              <div class="dataTables_paginate paging_simple_numbers" id="tblList_paginate">
                                 <ul class="pagination justify-content-center">
                                    <li class="paginate_button page-item previous disabled" id="tblList_previous"><a href="#" aria-controls="tblList" data-dt-idx="0" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-left"></i></a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="tblList" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item next disabled" id="tblList_next"><a href="#" aria-controls="tblList" data-dt-idx="2" tabindex="0" class="page-link"><i class="fa fa-lg fa-angle-right"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="modal fade" id="mdlpayout" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="SlabrTitle" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 id="SlabrTitle" class="modal-title">Confirmation</h5>
                     </div>
                     <div class="modal-body">
                        <input type="hidden" id="payout_id">
                        <p>Do you want to delete selected payout?</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">No</button>
                        <button type="submit" id="payout_remove" class="btn btn-primary w-100p">Yes</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.page-section -->
      </div>
   </div>
   <!-- /.wrapper -->
</main>
<!-- /.app-main -->
<div class="aside-backdrop"></div>
</div><!-- /.app -->
<div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
   <!-- .modal-dialog -->
   <div class="modal-dialog" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
         <!-- .modal-header -->
         <div class="modal-header">
            <h5 class="modal-title">
               <i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error 
            </h5>
         </div>
         <!-- /.modal-header -->
         <!-- .modal-body -->
         <div class="modal-body">
            <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error remains the same, you need to contact your Administrator immediately.</p>
         </div>
         <!-- /.modal-body -->
         <!-- .modal-footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
         </div>
         <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- BEGIN BASE JS -->
{% comment %} <script src="{%static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/popper.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/stacked-menu.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js'%}"></script> <!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="{%static 'js/parsley.js' %}"></script>
<!-- BEGIN THEME JS -->
<script src="{%static 'js/theme.js' %}"></script> 
<script src="{%static 'js/toastr.min.js' %}"></script>
<script src="{%static 'js/flatpickr.min.js' %}"></script>
<script src="{%static 'js/select2.full.min.js' %}"></script>
<script src="{%static 'js/moment.js' %}"></script>
<script src="{%static 'js/mask-as-number.min.js' %}"></script>
<script src="{%static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{%static 'js/jquery.form.js' %}"></script>
<script src="{%static 'js/custom.min.js' %}"></script>
{% comment %} <script src="{%static 'js/slab.min.js' %}"></script> {% endcomment %}
{% comment %} <script>
   $("#download_payout").click(function(){
   $.redirectPost("download.php",{download:'download_payout',slab:"25"});
   });
</script>
</body></html>  {% endcomment %}
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>
  function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById('tblList');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
      XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
      XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
 }
</script>
{%endblock%}