{% load static %}
<html lang="en" class="">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- End Required meta tags -->
      <!-- Begin SEO tag -->
      <title> Bimabook </title>
      <!-- FAVICONS -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
      <meta name="theme-color" content="#3063A0">
      <!-- End FAVICONS -->
      <!-- GOOGLE FONT -->
      <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	  {% comment %} <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"> {% endcomment %}
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&amp;display=swap" rel="stylesheet">
	  
	  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"> {% endcomment %}
     {% comment %} <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">  {% endcomment %}
      <!-- BEGIN PLUGINS STYLES -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="{%static 'css/icofont.min.css' %}">
      <link rel="stylesheet" href="{%static 'css/open-iconic-bootstrap.min.css' %}">
      {% comment %} <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}"> {% endcomment %}
      <link rel="stylesheet" href="{%static 'css/flatpickr.min.css' %}">
      {% comment %} <link rel="stylesheet" href="{%static 'css/toastr.min.css' %}"> {% endcomment %}
      <link rel="stylesheet" href="{%static 'css/parsley.css' %}">
      <link rel="stylesheet" href="{%static 'css/select2.min.css' %}">
      <link rel="stylesheet" href="{%static 'css/theme.min.css' %}" data-skin="default">
      <link rel="stylesheet" href="{%static 'css/theme-dark.min.css' %}" data-skin="dark" disabled="true">
      <link rel="stylesheet" href="{%static 'css/custom.min.css'%}"> 
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.min.css'%}"> 
      <link rel="stylesheet" href="{%static 'css/bootstrap-tagsinput.css'%}"> 
      <link rel="stylesheet" href="{%static 'css/filter-multi-select.css'%}"> 
      <script>
         var skin = localStorage.getItem('skin') || 'default';
         var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
         // Disable unused skin immediately
         disabledSkinStylesheet.setAttribute('rel', '');
         disabledSkinStylesheet.setAttribute('disabled', true);
         // add loading class to html immediately
         document.querySelector('html').classList.add('loading');
      </script><!-- END THEME STYLES -->
      
	
      <style type="text/css">
         /* Chart.js */
         @keyframes chartjs-render-animation {
         from {
         opacity: .99
         }
         to {
         opacity: 1
         }
         }
         .chartjs-render-monitor {
         animation: chartjs-render-animation 1ms
         }
         .chartjs-size-monitor,
         .chartjs-size-monitor-expand,
         .chartjs-size-monitor-shrink {
         position: absolute;
         direction: ltr;
         left: 0;
         top: 0;
         right: 0;
         bottom: 0;
         overflow: hidden;
         pointer-events: none;
         visibility: hidden;
         z-index: -1
         }
         .chartjs-size-monitor-expand>div {
         position: absolute;
         width: 1000000px;
         height: 1000000px;
         left: 0;
         top: 0
         }
         .chartjs-size-monitor-shrink>div {
         position: absolute;
         width: 200%;
         height: 200%;
         left: 0;
         top: 0
         }
         {% comment %} for icon style {% endcomment %}
         #icon
         {
            color:#346cb0;
            padding-right: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
         div.agent,div.staff{
            display: none;
            }

      </style>
   </head>
   <body class=" default-skin pace-done">
      <div class="pace  pace-inactive">
         <div class="pace-progress" data-progress-text="100%" data-progress="99"
            style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
         </div>
         <div class="pace-activity"></div>
      </div>
      <!-- .app -->
      <div class="app">
         <!-- .app-header -->
         <header class="app-header app-header-dark">
            <!-- .top-bar -->
            <div class="top-bar">
               <!-- .top-bar-brand -->
               <div class="top-bar-brand d-none1">
                  <!-- toggle aside menu -->
                  <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu"
                     aria-label="toggle aside menu"><span class="hamburger-box"><span
                     class="hamburger-inner"></span></span></button> <!-- /toggle aside menu -->
                  <img src="{%static 'images/logo.png' %}" class='img-fluid logo-160' alt='Bimabook Logo'>
               </div>
               <!-- /.top-bar-brand -->
               <!-- .top-bar-list -->
               <div class="top-bar-list">
                  <!-- .top-bar-item -->
                  <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                     <!-- toggle menu -->
                     <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside"
                        aria-label="toggle menu"><span class="hamburger-box"><span
                        class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                  </div>
                  <!-- /.top-bar-item -->
                  <!-- .top-bar-item -->
                  <div class="top-bar-item top-bar-item-full d-md-none d-lg-none d-xl-none">
                     <img src="{%static 'images/logo.png' %}" width="150px">
                  </div>
                  <!-- /.top-bar-item -->
                  <!-- .top-bar-item -->
                  <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                     <!-- .btn-account -->
                     <div class="dropdown d-none d-md-flex">
                        <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                        <span class="user-avatar user-avatar-md">
                        <img src="{% static 'images/user.png' %}" alt="Demo">
                        </span>
                        </button> <!-- .dropdown-menu -->
                        <div class="dropdown-menu">
                           <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                           <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                           <h6 class="dropdown-header d-none d-md-block d-lg-none"> Demo </h6>
                           
                           <a class="dropdown-item" href="">
                           {% comment %} <span class="dropdown-icon icofont icofont-ui-password"></span> {% endcomment %}
                           <i class="fa fa-key" aria-hidden="true" id='icon'></i> Change Password
                           </a>
                           
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item"
                              href="{%url 'bima_policy:logout'%}">
                           <i class="fa fa-sign-out" aria-hidden="true" id='icon'></i>Logout
                           </a>
                        </div>
                        <!-- /.dropdown-menu -->
                     </div>
                     <!-- /.btn-account -->
                  </div>
                  <!-- /.top-bar-item -->
               </div>
               <!-- /.top-bar-list -->
            </div>
            <!-- /.top-bar -->
         </header>
         <!-- /.app-header -->
         <!-- .app-aside -->
         <aside class="app-aside app-aside-expand-md app-aside-light">
            <!-- .aside-content -->
            <div class="aside-content">
               <!-- .aside-header -->
               <header class="aside-header d-block d-md-none">
                  <!-- .btn-account -->
                  <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                  <span class="user-avatar user-avatar-lg"><img src="{% static 'images/user.png' %}"
                     alt="Demo"></span>
                  <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span>
                  <span class="account-summary"><span class="account-name">Demo</span>
                  </span></button> <!-- /.btn-account -->
                  <!-- .dropdown-aside -->
                  <div id="dropdown-aside" class="dropdown-aside collapse">
                     <!-- dropdown-items -->
                     <div class="pb-3">
                        <a class="dropdown-item" href=""><span
                           class="dropdown-icon icofont icofont-ui-password"></span> Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{%url 'bima_policy:logout'%}"><span
                           class="dropdown-icon icofont-logout"></span> Logout</a>
                     </div>
                     <!-- /dropdown-items -->
                  </div>
                  <!-- /.dropdown-aside -->
               </header>
               <!-- /.aside-header -->
               <!-- .aside-menu -->
               <div class="aside-menu overflow-hidden ps ps--active-y">
                  <!-- .stacked-menu -->
                  <nav id="stacked-menu" class="stacked-menu stacked-menu-has-collapsible">
                     <!-- .menu -->
                     <ul class="menu">
                        <li class="text-center text-primary"><span class="" id="liteDate"></span> 
                        </li>
                        <!-- /.menu-header -->
                        <li class="menu-header">General </li>
                        <!-- /.menu-header -->
                        <li class="menu-item has-active">
                           <a href="{%url 'bima_policy:dashboard'%}" class="menu-link">
                           {% comment %} <span class="menu-icon fa fa-home"></span>  {% endcomment %}
                           <i class="fa fa-home" aria-hidden="true" id='icon'></i>
						   <span class="menu-text">Dashboard</span>
						</a>
                        </li>
                        <!-- /.menu-item -->

                        <li class="menu-item has-child ">
                           <a href="javascript:void(0);" class="menu-link">
							{% comment %} <i class="fa-solid fa-circle-book-open"></i> {% endcomment %}
							{% comment %} <span class="menu-icon icofont icofont-ebook"></span>  {% endcomment %}
                     
                     <i class="fa-solid fa-book" style="color:#346cb0;padding-right: 1.5rem;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;"></i> 
                     <span class="menu-text" style="color:#346cb0"> Policy List</span></a> 
							<!-- child menu -->
                           <ul class="menu">
                              <li class="menu-subhead">Policy List</li>
                              <li class="menu-item ">
                                 <a href="{%url 'bima_policy:create_policy' %}"  class="menu-link" tabindex="-1">Create New</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="{%url 'bima_policy:policy_entry' %}" class="menu-link" tabindex="-1">Entry
                                 List</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="{%url 'bima_policy:policy_import' %}"  class="menu-link"
                                    tabindex="-1">Import</a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item ">
                           <a href="{%url 'bima_policy:upcoming_renewal' %}" class="menu-link">
                              {% comment %} <span
                              class="menu-icon icofont icofont-retweet"></span>  {% endcomment %}
                              <i class="fa fa-retweet" style="color:#346cb0;padding-right: 1.5rem;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              white-space: nowrap;"></i>
                              <span class="menu-text" style="color:#346cb0;">Upcoming Renewal</span></a> <!-- child menu -->
                        </li>

                        <div class={{request.session.role}}>
                           <li class="menu-item has-child ">
                              <a href="javascript:void(0);" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-money"></span>{% endcomment %}
                                 <i class="fa-solid fa-sack-dollar" style="color:#346cb0 ;padding-right: 1.5rem;
                                 overflow: hidden;
                                 text-overflow: ellipsis;
                                 white-space: nowrap;"></i>
                              
                                 <span class="menu-text" style="color:#346cb0">Ledger</span></a> <!-- child menu -->
                              <ul class="menu">
                                 <li class="menu-subhead">Ledger</li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:agentpayable' %}"  class="menu-link" tabindex="-1">Agent
                                    Payable</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:agent_statement' %}" class="menu-link"
                                       tabindex="-1">Agent Statement</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:sp_receivable' %}" class="menu-link"
                                       tabindex="-1">SP Receivable</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:sp_statement' %}" class="menu-link"
                                       tabindex="-1">SP Statement</a>
                                 </li>
                              </ul>
                              <!-- /child menu -->
                           </li>
                        </div>
                        <div class={{request.session.role}}>
                           <li class="menu-item has-child " >
                              <a href="javascript:void(0);" class="menu-link">
                                 {% comment %} <span
                                 class="menu-icon icofont icofont-file-text"></span>  {% endcomment %}
                                 <i class="fa fa-file-text" id="icon"></i>
                                 <span class="menu-text" style="color:#346cb0">Reports</span></a> <!-- child menu -->
                              <ul class="menu">
                                 <li class="menu-subhead">Reports</li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:report_agent' %}" class="menu-link"
                                       tabindex="-1">Agent wise</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:report_policyprovider' %}"class="menu-link"
                                       tabindex="-1">Policy Provider wise</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:report_vehicleCategory' %}" class="menu-link"
                                       tabindex="-1">Vehicle Category wise</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:report_brokercode' %}" class="menu-link"
                                       tabindex="-1">Broker Code wise</a>
                                 </li>
                                 <li class="menu-item ">
                                    <a href="{%url 'bima_policy:report_insurance_comp' %}"class="menu-link"
                                       tabindex="-1">Insurance Comp. wise</a>
                                 </li>
                              </ul>
                           </li>
                        </div>
                        <div class={{request.session.role}}>
                           <li class="menu-header">Manage </li>
                           <!-- /.menu-header -->
                           <!-- .menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:agent' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-users-alt-1"></span>  {% endcomment %}
                                 <i class='fas fa-user-friends' aria-hidden="true" id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Agents</span></a> <!-- child menu -->
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:slab' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-book-alt"></span>  {% endcomment %}
                                 <i class="fa-solid fa-book" id='icon'></i>
                                 <span
                                 class="menu-text" style="color:#346cb0">Payouts</span></a> <!-- child menu -->
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:service_p' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-business-man"></span>  {% endcomment %}
                                 <i class='fas fa-user-tie' id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Service Provider</span></a> <!-- child menu -->
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:vehi' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-car-alt-4"></span>  {% endcomment %}
                                 <i class="fa fa-car" aria-hidden="true" id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Vehicles</span></a>
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:ins_comp' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-building-alt"></span> {% endcomment %}
                                 <i class="fa-solid fa-building" id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Insurance Companies</span></a>
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:rto'%}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-exchange"></span>  {% endcomment %}
                                 <i class="fa fa-exchange" aria-hidden="true" id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">RTO
                              Conversion</span></a>
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:staff' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont icofont-user-alt-5"></span>  {% endcomment %}
                                 <i class="fa-solid fa-user" id='icon'></i>
                                 <span
                                 class="menu-text" style="color:#346cb0">Users</span></a> <!-- child menu -->
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-header">Settings </li>
                           <!-- /.menu-header -->
                           <li class="menu-item ">
                              <a href="{%url 'bima_policy:profile'%}" class="menu-link">
                     
                                 <i class='fa fa-user-circle' id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Profile</span></a> <!-- child menu -->
                           </li>
                           <!-- /.menu-item -->
                           <li class="menu-header">Subscription</li>
                           <!-- /.menu-header -->
                           <li class="menu-item ">
                              <a href=" {% url 'bima_policy:subscription' %}" class="menu-link">
                                 {% comment %} <span class="menu-icon icofont-pay"></span> {% endcomment %}
                                 <i class="fas fa-money-bill" id='icon'></i>
                                 <span class="menu-text" style="color:#346cb0">Billing</span></a>
                              <!-- child menu -->
                           </li>
                        </div>
                     </ul>
                  </nav>
                  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                     <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 516px; right: 0px;">
                     <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 384px;"></div>
                  </div>
               </div>
               <!-- /.aside-menu -->
               <!-- Skin changer -->
               <footer class="aside-footer border-top p-2">
                  <button class="btn btn-light btn-block text-primary" data-toggle="skin">
                     
                     <span
                     {% comment %} class="d-compact-menu-none">Night mode</span>  {% endcomment %}
                     <i class="fa fa-moon-o"id='icon'></i>
                  </button>
                     {% comment %} <i class="icofont icofont-moon ml-1"></i> {% endcomment %}
               </footer>
               <!-- /Skin changer -->
            </div>
            <!-- /.aside-content -->
         </aside>
         <!-- /.app-aside -->
         {%block content%}{%endblock%}
         <div class="aside-backdrop"></div>
      </div>
      <!-- /.app -->
      {% comment %} <div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
         <!-- .modal-dialog -->
         <div class="modal-dialog" role="document">
            <!-- .modal-content -->
            <div class="modal-content">
               <!-- .modal-header -->
               <div class="modal-header">
                  <h5 class="modal-title">
                     <i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error
                  </h5>
               </div>
               <!-- /.modal-header -->
               <!-- .modal-body -->
               <div class="modal-body">
                  <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the
                     error remains the same, you need to contact your Administrator immediately.
                  </p>
               </div>
               <!-- /.modal-body -->
               <!-- .modal-footer -->
               <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
               </div>
               <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div> {% endcomment %}
      <!-- /.modal -->
      <!-- BEGIN BASE JS -->
      <script src="{%static 'js/jquery.min.js'%}"></script>
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script> <!-- END BASE JS -->
      <!-- BEGIN PLUGINS JS -->
      <script src="{% static 'js/pace.min.js' %}"></script>
      <script src="{% static 'js/stacked-menu.min.js' %}"></script>
      <script src="{%static 'js/perfect-scrollbar.min.js' %}"></script> <!-- END PLUGINS JS -->
      <!-- Parsley -->
      <script src="{%static 'js/parsley.js'%}"></script>
      <!-- BEGIN THEME JS -->
      <script src="{%static 'js/theme.js'%}"></script>
      <script src="{%static 'js/toastr.min.js' %}"></script>
      <script src="{%static 'js/flatpickr.min.js' %}"></script>
      <script src="{%static 'js/select2.full.min.js' %}"></script>
      <script src="{%static 'js/moment.js' %}"></script>
      <script src="{%static 'js/mask-as-number.min.js' %}"></script>
      <script src="{%static 'js/jquery.dataTables.min.js'%}"></script>
      <script src="{%static 'js/dataTables.bootstrap.js' %}"></script>
      <script src="{%static 'js/jquery.form.js' %}"></script>
      <script src="{%static 'js/custom.min.js' %}"></script>
      {% comment %} <script src="{%static 'js/insurance.min.js' %}"></script> {% endcomment %}
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script>
         $(document).ready(function () {
         	var data = {
         		labels: JSON.parse('["Jun-2022"]'),
         		datasets: [
         			{
         				label: 'OK Policies',
         				borderColor: "#00A28A",
         				backgroundColor: "#00A28A",
         				data: JSON.parse('[0]'),
         			},
         			{
         				label: 'Cancelled Policies',
         				borderColor: "#00A28A",
         				backgroundColor: "red",
         				data: JSON.parse('[1]'),
         			}
         		]
         	};
         	var canvas = $('#canvas-total-policy')[0].getContext('2d');
         	var chart = new Chart(canvas, {
         		type: 'bar',
         		data: data,
         		options: {
         			responsive: true,
         			legend: {
         				position: 'top' // place legend on the right side of chart
         			},
         			scales: {
         				xAxes: [{
         					gridLines: {
         						display: true,
         						drawBorder: false,
         						drawOnChartArea: false
         					},
         					stacked: true,
         				}],
         				yAxes: [{
         					gridLines: {
         						display: true,
         						borderDash: [8, 4]
         					},
         					ticks: {
         						stepSize: 20
         					},
         					stacked: true,
         				}]
         			}
         		}
         	});
         	var data = {
         		labels: JSON.parse('["Jun-2022"]'),
         		datasets: [{
         			label: 'Earnings (In Lacs)',
         			borderColor: "#ea6759",
         			backgroundColor: "#5f4b8b",
         			data: JSON.parse('[0]'),
         		}]
         	};
         	var canvas = $('#canvas-total-earning')[0].getContext('2d');
         	var chart = new Chart(canvas, {
         		type: 'bar',
         		data: data,
         		options: {
         			responsive: true,
         			legend: {
         				position: 'top' // place legend on the right side of chart
         			},
         			scales: {
         				xAxes: [{
         					gridLines: {
         						display: true,
         						drawBorder: false,
         						drawOnChartArea: false
         					},
         					stacked: true,
         				}],
         				yAxes: [{
         					gridLines: {
         						display: true,
         						borderDash: [8, 4]
         					},
         					ticks: {
         						stepSize: 20
         					},
         					stacked: true,
         				}]
         			}
         		}
         	});
         });
      </script>
      <div class="flatpickr-calendar rangeMode animate" tabindex="-1">
         <div class="flatpickr-months">
            <span class="flatpickr-prev-month">
               <svg version="1.1"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17">
                  <g></g>
                  <path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z">
                  </path>
               </svg>
            </span>
            <div class="flatpickr-month">
               <div class="flatpickr-current-month">
                  <select class="flatpickr-monthDropdown-months" tabindex="-1">
                     <option class="flatpickr-monthDropdown-month" value="0" tabindex="-1">January</option>
                     <option class="flatpickr-monthDropdown-month" value="1" tabindex="-1">February</option>
                     <option class="flatpickr-monthDropdown-month" value="2" tabindex="-1">March</option>
                     <option class="flatpickr-monthDropdown-month" value="3" tabindex="-1">April</option>
                     <option class="flatpickr-monthDropdown-month" value="4" tabindex="-1">May</option>
                     <option class="flatpickr-monthDropdown-month" value="5" tabindex="-1">June</option>
                     <option class="flatpickr-monthDropdown-month" value="6" tabindex="-1">July</option>
                     <option class="flatpickr-monthDropdown-month" value="7" tabindex="-1">August</option>
                     <option class="flatpickr-monthDropdown-month" value="8" tabindex="-1">September</option>
                     <option class="flatpickr-monthDropdown-month" value="9" tabindex="-1">October</option>
                     <option class="flatpickr-monthDropdown-month" value="10" tabindex="-1">November</option>
                     <option class="flatpickr-monthDropdown-month" value="11" tabindex="-1">December</option>
                  </select>
                  <div class="numInputWrapper"><input class="numInput cur-year" type="number" tabindex="-1"
                     aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div>
               </div>
            </div>
            <span class="flatpickr-next-month">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17">
                  <g></g>
                  <path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z">
                  </path>
               </svg>
            </span>
         </div>
         <div class="flatpickr-innerContainer">
            <div class="flatpickr-rContainer">
               <div class="flatpickr-weekdays">
                  <div class="flatpickr-weekdaycontainer">
                     <span class="flatpickr-weekday">
                     Sun</span><span class="flatpickr-weekday">Mon</span><span
                        class="flatpickr-weekday">Tue</span><span class="flatpickr-weekday">Wed</span><span
                        class="flatpickr-weekday">Thu</span><span class="flatpickr-weekday">Fri</span><span
                        class="flatpickr-weekday">Sat
                     </span>
                  </div>
               </div>
               <div class="flatpickr-days" tabindex="-1">
                  <div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="June 26, 2022"
                     tabindex="-1">26</span><span class="flatpickr-day prevMonthDay" aria-label="June 27, 2022"
                     tabindex="-1">27</span><span class="flatpickr-day prevMonthDay" aria-label="June 28, 2022"
                     tabindex="-1">28</span><span class="flatpickr-day prevMonthDay" aria-label="June 29, 2022"
                     tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="June 30, 2022"
                     tabindex="-1">30</span><span class="flatpickr-day " aria-label="July 1, 2022"
                     tabindex="-1">1</span><span class="flatpickr-day " aria-label="July 2, 2022"
                     tabindex="-1">2</span><span class="flatpickr-day " aria-label="July 3, 2022"
                     tabindex="-1">3</span><span class="flatpickr-day " aria-label="July 4, 2022"
                     tabindex="-1">4</span><span class="flatpickr-day " aria-label="July 5, 2022"
                     tabindex="-1">5</span><span class="flatpickr-day " aria-label="July 6, 2022"
                     tabindex="-1">6</span><span class="flatpickr-day " aria-label="July 7, 2022"
                     tabindex="-1">7</span><span class="flatpickr-day " aria-label="July 8, 2022"
                     tabindex="-1">8</span><span class="flatpickr-day " aria-label="July 9, 2022"
                     tabindex="-1">9</span><span class="flatpickr-day " aria-label="July 10, 2022"
                     tabindex="-1">10</span><span class="flatpickr-day " aria-label="July 11, 2022"
                     tabindex="-1">11</span><span class="flatpickr-day " aria-label="July 12, 2022"
                     tabindex="-1">12</span><span class="flatpickr-day " aria-label="July 13, 2022"
                     tabindex="-1">13</span><span class="flatpickr-day " aria-label="July 14, 2022"
                     tabindex="-1">14</span><span class="flatpickr-day " aria-label="July 15, 2022"
                     tabindex="-1">15</span><span class="flatpickr-day " aria-label="July 16, 2022"
                     tabindex="-1">16</span><span class="flatpickr-day " aria-label="July 17, 2022"
                     tabindex="-1">17</span><span class="flatpickr-day " aria-label="July 18, 2022"
                     tabindex="-1">18</span><span class="flatpickr-day " aria-label="July 19, 2022"
                     tabindex="-1">19</span><span class="flatpickr-day " aria-label="July 20, 2022"
                     tabindex="-1">20</span><span class="flatpickr-day " aria-label="July 21, 2022"
                     tabindex="-1">21</span><span class="flatpickr-day " aria-label="July 22, 2022"
                     tabindex="-1">22</span><span class="flatpickr-day " aria-label="July 23, 2022"
                     tabindex="-1">23</span><span class="flatpickr-day " aria-label="July 24, 2022"
                     tabindex="-1">24</span><span class="flatpickr-day " aria-label="July 25, 2022"
                     tabindex="-1">25</span><span class="flatpickr-day " aria-label="July 26, 2022"
                     tabindex="-1">26</span><span class="flatpickr-day today" aria-label="July 27, 2022"
                     aria-current="date" tabindex="-1">27</span><span class="flatpickr-day "
                     aria-label="July 28, 2022" tabindex="-1">28</span><span class="flatpickr-day "
                     aria-label="July 29, 2022" tabindex="-1">29</span><span class="flatpickr-day "
                     aria-label="July 30, 2022" tabindex="-1">30</span><span class="flatpickr-day "
                     aria-label="July 31, 2022" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 1, 2022" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 2, 2022" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 3, 2022" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 4, 2022" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 5, 2022" tabindex="-1">5</span><span class="flatpickr-day nextMonthDay"
                     aria-label="August 6, 2022" tabindex="-1">6</span></div>
               </div>
            </div>
         </div>
      </div>





   </body>
</html>
