{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Sign In | Bimabook </title>
	<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicon.ico">
<link rel="shortcut icon" href="static/images/favicon.ico">
<meta name="theme-color" content="#3063A0"><!-- End FAVICONS -->
<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End GOOGLE FONT -->
<!-- BEGIN PLUGINS STYLES -->
<link rel="stylesheet" href="{% static 'css/aos.css'%}"><!-- END PLUGINS STYLES -->
<!-- BEGIN THEME STYLES -->
<link rel="stylesheet" href="{% static 'css/icofont.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme.min.css'%}" data-skin="default"/>    <!-- BEGIN THEME STYLES -->-
    <link rel="stylesheet" href="{% static 'css/theme.min.css'%}" data-skin="default"/>
    <link rel="stylesheet" href="{% static 'css/theme-dark.min.css'%}" data-skin="dark"/>
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/parsley.css' %}"/>
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute('rel', '');
      disabledSkinStylesheet.setAttribute('disabled', true);
      // add loading class to html immediately
      document.querySelector('html').classList.add('loading');
    </script><!-- END THEME STYLES -->
  </head>
  <body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
	<nav class="navbar navbar-expand-lg navbar-light py-3 sticky-header">
        <!-- .container -->
        <div class="container">
          <!-- .hamburger -->
          <button class="hamburger hamburger-squeeze hamburger-light d-flex d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /.hamburger -->
          <!-- .navbar-brand -->
          <a href="index.html" class="navbar-brand ml-auto">
			<img src="{% static 'images/logo.png' %}"  class='img-fluid logo-160' alt='Bimabook Logo'>
          </a> <!-- /.navbar-brand -->
          <a class="navbar-btn btn btn-danger shadow ml-auto order-lg-2" href="" >Back to Home</a>
          <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item mr-lg-3 active">
                <a class="nav-link py-2" href="index.html#home">Home</a>
              </li>
              <li class="nav-item mr-lg-3">
                <a class="nav-link py-2" href="index.html#feature">Features</a>
              </li>
              <li class="nav-item mr-lg-3">
                <a class="nav-link py-2" href="index.html#pricing">Pricing</a>
              </li>
              <li class="nav-item mr-lg-3">
                <a class="nav-link py-2" href="index.html#about">About</a>
              </li>
              <li class="nav-item mr-lg-3">
                <a class="nav-link py-2" href="index.html#contact">Contact</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav><!-- /.navbar -->
	<!-- .auth -->
	<main class="auth">
		<header class='mt-6'><h6 class='p-3'>Welcome ! Enter Your Login credentials</h6></header>
		<!-- form -->
		<form data-parsley-validate="true" class="auth-form" id='auth-form' method="POST" action="{%url 'bima_policy:login'%}">
      {% csrf_token %}

      {% if error_message %}
      <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading mx-auto my-auto">{{error_message}}</h5>
      </div>
      {% elif success_message%}
      <div class="alert alert-success " role="alert">
        <h5 class="alert-heading mx-auto my-auto">{{success_message}}</h5>
      </div>
      {% endif %}
  
			<div id="response"></div>
			<!-- .form-group -->
			<div class="form-group">
				<label>User ID<span class='text-danger'>*</span></label>
				<input name="full_name" type="text" data-parsley-required="true" data-parsley-required-message="" value="" class="form-control form-control-lg " id="inputUser" >
			</div><!-- /.form-group -->
			<!-- .form-group -->
			<div class="form-group">
				<label>Password<span class='text-danger'>*</span></label>
				<div class="input-group input-group-lg">
					<input type="password" name="password" data-parsley-required="true" data-parsley-required-message="" value="" class="form-control-lg form-control" id="inputPassword">
					<div class="input-group-prepend">
						<button class="btn btn-reset text-primary px-3" id='btnshowpass' type="button"><i class="icofont-eye-blocked"></i></button>
					</div>
				</div>
			</div>
      <!-- /.form-group -->
			<!-- .form-group -->
			<div class="form-group">
			  <button name="submit" class="btn btn-lg btn-primary btn-block" type="submit" >Sign In</button>
			</div>
      <!-- /.form-group -->
			<!-- .form-group -->
			<div class="form-group text-center">
			  <div class="custom-control custom-control-inline custom-checkbox">
				<input type="checkbox" class="custom-control-input" name="keep_login" id="remember-me" > <label class="custom-control-label" for="remember-me">Keep me sign in</label>
			  </div>
			</div><!-- /.form-group -->
			<!-- recovery links -->
			<div class="text-center pt-3 d-none">
			  <a href="#" class="link">Forgot Username?</a><span class="mx-2">·</span><a href="#" class="link">Forgot Password?</a>
			</div><!-- /recovery links -->
		</form><!-- /.auth-form -->
		<div id='2way-auth'></div>
		<!-- copyright -->
		<footer class="auth-footer"> © 2022 All Rights Reserved. </footer>
    </main><!-- /.auth -->
    {% load static %}
    <!-- BEGIN BASE JS -->
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script> <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    <script src="{%static 'js/particles.js'%}"></script>

	<script src="{%static 'js/popper.min.js'%}"></script>
    <!-- Parsley -->
	<script src="{%static 'js/parsley.js'%}"></script>

    <!-- BEGIN THEME JS -->
    <script src="{% static 'js/theme.js'%}"></script>
    <!-- END THEME JS -->

	<script src="{% static 'js/jquery.form.js'%}"></script>
	<script src="{% static 'js/authenticate6060.js?q=280622'%}"></script>
  </body>

</html>