
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
<!-- Begin SEO tag -->
<title> Bimabook </title>
<!-- FAVICONS -->
<link rel="shortcut icon" href="https://www.bimabook.in/public/favicon.ico">
<meta name="theme-color" content="#3063A0"><!-- End FAVICONS -->
<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"> 
<!-- BEGIN PLUGINS STYLES -->
<link rel="stylesheet" href="https://www.bimabook.in/plugins/ico-font/icofont.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/open-iconic/font/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/toastr/toastr.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/parsley/parsley.css">
<link rel="stylesheet" href="https://www.bimabook.in/plugins/select2/select2.min.css">
<link rel="stylesheet" href="https://www.bimabook.in/resources/css/theme.min.css" data-skin="default">
<link rel="stylesheet" href="https://www.bimabook.in/resources/css/theme-dark.min.css" data-skin="dark">
<link rel="stylesheet" href="https://www.bimabook.in/resources/css/custom.min.css">
<script>
var skin = localStorage.getItem('skin') || 'default';
var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
// Disable unused skin immediately
disabledSkinStylesheet.setAttribute('rel', '');
disabledSkinStylesheet.setAttribute('disabled', true);
// add loading class to html immediately
document.querySelector('html').classList.add('loading');
</script><!-- END THEME STYLES -->
	</head>
	<body>
    <!-- .app -->
    <div class="app">
		<!-- .app-header -->
		<header class="app-header app-header-dark">
			<!-- .top-bar -->
<div class="top-bar">
  <!-- .top-bar-brand -->
  <div class="top-bar-brand d-none1">
	<!-- toggle aside menu -->
	<button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu" aria-label="toggle aside menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle aside menu -->
	<img src="https://www.bimabook.in/public/logo.png" width='150px'>
	</div><!-- /.top-bar-brand -->
  <!-- .top-bar-list -->
  <div class="top-bar-list">
	<!-- .top-bar-item -->
	<div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
	  <!-- toggle menu -->
	  <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
	</div><!-- /.top-bar-item -->
	<!-- .top-bar-item -->
	<div class="top-bar-item top-bar-item-full d-md-none d-lg-none d-xl-none">
		<img src="https://www.bimabook.in/public/logo.png" width='150px'>
	</div><!-- /.top-bar-item -->
	<!-- .top-bar-item -->
	<div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
		<!-- .btn-account -->
		<div class="dropdown d-none d-md-flex">
			<button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="user-avatar user-avatar-md">
					<img src="https://www.bimabook.in/public/user.png" alt="Raj">
				</span>
				<span class="account-summary pr-lg-4 d-none d-lg-block">
					<span class="account-name">Raj</span>
				</span>
			</button> <!-- .dropdown-menu -->
			<div class="dropdown-menu">
				<div class="dropdown-arrow d-lg-none" x-arrow=""></div>
				<div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
				<h6 class="dropdown-header d-none d-md-block d-lg-none"> Raj </h6>
								<a class="dropdown-item" href="https://www.bimabook.in/profile/password.php">
					<span class="dropdown-icon icofont icofont-ui-password"></span> Change Password
				</a> 
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/dashboard/index.php?q=wfoY74I3/ArI71kkerfKaj+1zg9CtJe4mQxZ6vtP1taDUVF5bvsd9X5evpd5Anmw+ZIZANiBcy1biVgMJhnsKr/iReqTnmMwCda111nsWmM=">
					<span class="dropdown-icon icofont-logout"></span> Logout
				</a>
			</div><!-- /.dropdown-menu -->
		</div><!-- /.btn-account -->
	</div><!-- /.top-bar-item -->
  </div><!-- /.top-bar-list -->
</div><!-- /.top-bar -->		</header><!-- /.app-header -->
		<!-- .app-aside -->
		<aside class="app-aside app-aside-expand-md app-aside-light">
			<!-- .aside-content -->
<div class="aside-content">
  <!-- .aside-header -->
  <header class="aside-header d-block d-md-none">
	<!-- .btn-account -->
	<button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
	<span class="user-avatar user-avatar-lg"><img src="https://www.bimabook.in/public/user.png" alt="Raj"></span> 
	<span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> 
	<span class="account-summary"><span class="account-name">Raj</span> 
	</button> <!-- /.btn-account -->
	<!-- .dropdown-aside -->
	<div id="dropdown-aside" class="dropdown-aside collapse">
	  <!-- dropdown-items -->
	  <div class="pb-3">
		<a class="dropdown-item" href="https://www.bimabook.in/profile/"><span class="dropdown-icon icofont icofont-ui-password"></span> Change Password</a> 
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="/dashboard/index.php?q=wfoY74I3/ArI71kkerfKaj+1zg9CtJe4mQxZ6vtP1taDUVF5bvsd9X5evpd5Anmw+ZIZANiBcy1biVgMJhnsKr/iReqTnmMwCda111nsWmM="><span class="dropdown-icon icofont-logout"></span> Logout</a>
	 </div><!-- /dropdown-items -->
	</div><!-- /.dropdown-aside -->
  </header><!-- /.aside-header -->
  <!-- .aside-menu -->
  <div class="aside-menu overflow-hidden">
	
	<!-- .stacked-menu -->
	<nav id="stacked-menu" class="stacked-menu">
	  <!-- .menu -->
	  <ul class="menu">
		<li class="text-center text-primary"><span class="" id="liteDate"></span> </li><!-- /.menu-header -->
		<li class="menu-header">General </li><!-- /.menu-header -->
				<li class="menu-item has-active">
		  <a href="https://www.bimabook.in/dashboard/" class="menu-link"><span class="menu-icon fa fa-home"></span> <span class="menu-text">Dashboard</span></a>
		</li><!-- /.menu-item -->
				<li class="menu-item has-child ">
			<a href="javascript:void(0);" class="menu-link"><span class="menu-icon icofont icofont-ebook"></span> <span class="menu-text">Policy List</span></a> <!-- child menu -->
			<ul class="menu">
				<li class="menu-item ">
					<a href="https://www.bimabook.in/ins" class="menu-link">Create New</a>
				</li>
				<li class="menu-item ">
					<a href="https://www.bimabook.in/ins/list" class="menu-link">Entry List</a>
				</li>
							</ul>
		</li>
				<li class="menu-item ">
			<a href="https://www.bimabook.in/ins/upcomingRenewal.php" class="menu-link"><span class="menu-icon icofont icofont-retweet"></span> <span class="menu-text">Upcoming Renewal</span></a> <!-- child menu -->
		</li>
				<li class="menu-item has-child ">
			<a href="javascript:void(0);" class="menu-link"><span class="menu-icon icofont icofont-file-text"></span> <span class="menu-text">Reports</span></a> <!-- child menu -->
			<ul class="menu">
				<li class="menu-item ">
					<a href='https://www.bimabook.in/reports/?q=agent' class="menu-link" >Agent wise</a>
				</li>
				<li class="menu-item ">
					<a href='https://www.bimabook.in/reports/?q=policy_provider' class="menu-link">Policy Provider wise</a>
				</li>
				<li class="menu-item ">
					<a href='https://www.bimabook.in/reports/?q=vehicle_category' class="menu-link">Vehicle Category wise</a>
				</li>
				<li class="menu-item ">
					<a href='https://www.bimabook.in/reports/?q=broker_code' class="menu-link">Broker Code wise</a>
				</li>
				<li class="menu-item ">
					<a href='https://www.bimabook.in/reports/?q=insurance_comp' class="menu-link">Insurance Comp. wise</a>
				</li>
			</ul>
		</li>
				<li class="menu-header">Settings </li><!-- /.menu-header -->
		<li class="menu-item ">
						<a href="https://www.bimabook.in/profile/password.php" class="menu-link"><span class="menu-icon icofont icofont-ui-password"></span> <span class="menu-text">Password</span></a> <!-- child menu -->
				</li><!-- /.menu-item -->
			</ul><!-- /.menu -->
	</nav><!-- /.stacked-menu -->
  </div><!-- /.aside-menu -->
  <!-- Skin changer -->
  <footer class="aside-footer border-top p-2">
	<button class="btn btn-light btn-block text-primary" data-toggle="skin"><span class="d-compact-menu-none">Night mode</span> <i class="icofont icofont-moon ml-1"></i></button>
  </footer><!-- /Skin changer -->
</div><!-- /.aside-content -->
		</aside><!-- /.app-aside -->
      <!-- .app-main -->
      <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">
            <!-- .page-inner -->
            <div class="page-inner">
              <!-- .page-title-bar -->
              <header class="page-title-bar">
                <!-- page title stuff goes here -->
				<div class="row">
					<div class="col-md-5 col-sm-12">
						<h1 class="page-title"> Dashboard 	</h1>
					</div>
									</div>	
              </header><!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="page-section">
				<div class="section-block">
                  <!-- metric row -->
                  <div class="metric-row">
                    <div class="col-lg-12">
                      <div class="metric-row metric-flush">
                        <!-- metric column -->
                        <div class="col">
                          <!-- .metric -->
                          							<a href="javascript:;" class="metric metric-bordered align-items-center"> 
						  							<h2 class="metric-label">Staff </h2>
                            <p class="metric-value h3">
                              <sub><span class="icofont icofont-users-alt-5"></span></sub>
							  <span class="value">
								4							  </span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                        <div class="col">
                          							<a href="javascript:;" class="metric metric-bordered align-items-center"> 
						                              <h2 class="metric-label">Agent </h2>
                            <p class="metric-value h3">
                              <sub><span class="icofont icofont-users-alt-1"></span></sub>
							  <span class="value">
								10							  </span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                        <div class="col">
                          <!-- .metric -->
						  							<a href="javascript:;" class="metric metric-bordered align-items-center"> 
						                              <h2 class="metric-label">Service Providers </h2>
                            <p class="metric-value h3">
                              <sub><span class="icofont icofont-business-man"></span></sub>
							  <span class="value">
								3							  </span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
						<div class="col">
                          <!-- .metric -->
                          							<a href="javascript:;" class="metric metric-bordered align-items-center"> 
						                              <h2 class="metric-label">Total Policies </h2>
                            <p class="metric-value h3">
                              <sub><span class="icofont icofont icofont-ebook"></span></sub>
							  <span class="value">
								1							  </span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                      </div>
                    </div><!-- metric column -->
                  </div><!-- /metric row -->
                </div>
				<!-- .section-block -->
                <div class="section-block">
					<div class="row">
						<div class="col-xl-9">
							<div class="row">
																<div class="col-xl-6">
									(01-Jan-2022 to 29-Aug-2022)
								</div>
								<div class="col-xl-6">	
									<div class="text-right mb-2">
										<div class="dropdown">
											<form method='post'>
											<button class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>This Year</span> <i class="fa fa-fw fa-caret-down"></i></button> <!-- .dropdown-menu -->
											<button class="btn btn-info">Go</button> <!-- .dropdown-menu -->
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-md stop-propagation">
												<div class="dropdown-arrow"></div><!-- .custom-control -->
												<div class="custom-control custom-radio">
													<input type="radio" class="custom-control-input" id="dpYear" name="dpFilter" value="This Year" checked > <label class="custom-control-label d-flex justify-content-between" for="dpYear"><span>This Year</span> <span class="text-muted">2022</span></label>
												</div><!-- /.custom-control -->
												<!-- .custom-control -->
												<div class="custom-control custom-radio">
													<input type="radio" class="custom-control-input" id="dpCustom" name="dpFilter" value="Custom"  > <label class="custom-control-label" for="dpCustom">Custom</label>
													<div class="custom-control-hint my-1">
														<!-- datepicker:range -->
														<input type="text" name="custom_date" value="" class="form-control" data-toggle="flatpickr" data-mode="range" data-date-format="d-m-Y"> <!-- /datepicker:range -->
													</div>
												</div><!-- /.custom-control -->
											</div><!-- /.dropdown-menu -->
											</form>
										</div><!-- /.dropdown -->
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="card card-body">
									<div class="card-header p-0 mb-3 pb-2">Policies</div>
									<!-- legend -->
									<ul class="list-inline small">
										<li class="list-inline-item">
											<i class="fa fa-fw fa-circle text-teal"></i> OK Policies
										</li>
										<li class="list-inline-item">
											<i class="fa fa-fw fa-circle text-red"></i> Cancelled Policies
										</li>
									</ul><!-- /legend -->
																		<div class="chartjs" style="height: 268px">
										<canvas id="canvas-total-policy"></canvas>
									</div>
								</div><!-- /.card -->
							</div>	
													</div>
						<div class="col-xl-3">
							<div class="row">
								<div class='col-xl-12'><div class='card'><div class="card-header"> Storage Overview</div>
<div class='card-body'>
	<div class='card bg-light'>
		<div class='card-body'>
			<span><i class="fa fa-hdd text-info" aria-hidden="true"></i> Storage Usage</span>
			<div title="0.16%" class="progress progress-lg mb-1">
				<div class="progress-bar bg-primary" role="progressbar" style="width: 0.16%;" aria-valuenow="0.16" aria-valuemin="0" aria-valuemax="100" > 0.16% </div>
			</div>	
			<p class='text-muted'>3 GB free of 3 GB</p>
		</div>
	</div>
	<dl class="d-flex justify-content-between mb-0">
	  <dt class="text-left">
		<div class="tile">
			<i class="icofont-file-alt text-info"></i>
		</div>
		<span class="mr-2">New Policy</span>
	  </dt>
	  <dd class="text-right">
		1 MB	  </dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
	  <dt class="text-left">
		<div class="tile">
			<i class="icofont-file-alt text-info"></i>
		</div>
		<span class="mr-2">Previous Policy</span>
	  </dt>
	  <dd class="text-right">
		1 MB	  </dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
	  <dt class="text-left">
		<div class="tile">
			<i class="icofont-file-alt text-info"></i>
		</div>
		<span class="mr-2">RC<small> (Registration Certificate)</small></abbr></span>
	  </dt>
	  <dd class="text-right">
		2 MB		</dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
		<dt class="text-left">
			<div class="tile">
				<i class="icofont-file-alt text-info"></i>
			</div>
			<span class="mr-2">Agent Documents</span>
		</dt>
		<dd class="text-right">
			1 MB		</dd>
	</dl>
	<hr>
	<dl class="d-flex justify-content-between">
		<dt class="text-left">
			<div class="tile">
				<i class="icofont-file-alt text-info"></i>
			</div>
			<span class="mr-2">Payment Screenshots</span>
		</dt>
		<dd class="text-right">
			0 MB		</dd>
	</dl>
</div>	
	
								</div></div>
							</div>
						</div>
					</div>
                </div><!-- /.section-block -->
              </div><!-- /.page-section -->
            </div><!-- /.page-inner -->
          </div><!-- /.page -->
        </div><!-- /.wrapper -->
      </main><!-- /.app-main -->
    </div><!-- /.app -->
    <div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
	<!-- .modal-dialog -->
	<div class="modal-dialog" role="document">
	  <!-- .modal-content -->
	  <div class="modal-content">
		<!-- .modal-header -->
		<div class="modal-header">
			<h5 class="modal-title">
			<i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error </h5>
		</div><!-- /.modal-header -->
		<!-- .modal-body -->
		<div class="modal-body">
		  <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error remains the same, you need to contact your Administrator immediately.</p>
		</div><!-- /.modal-body -->
		<!-- .modal-footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
		</div><!-- /.modal-footer -->
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- BEGIN BASE JS -->
<script src="https://www.bimabook.in/plugins/jquery.min.js"></script>
<script src="https://www.bimabook.in/plugins/popper.min.js"></script>
<script src="https://www.bimabook.in/plugins/bootstrap/bootstrap.min.js"></script> <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script src="https://www.bimabook.in/plugins/pace.min.js"></script>
<script src="https://www.bimabook.in/plugins/stacked-menu.min.js"></script>
<script src="https://www.bimabook.in/plugins/perfect-scrollbar.min.js"></script> <!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="https://www.bimabook.in/plugins/parsley/parsley.js"></script>
<!-- BEGIN THEME JS -->
<script src="https://www.bimabook.in/resources/js/theme.js"></script> 
<script src="https://www.bimabook.in/plugins/toastr/toastr.min.js"></script>
<script src="https://www.bimabook.in/plugins/flatpickr/flatpickr.min.js"></script>
<script src="https://www.bimabook.in/plugins/select2/select2.full.min.js"></script>
<script src="https://www.bimabook.in/plugins/moment/moment.js"></script>
<script src="https://www.bimabook.in/plugins/mask-as-number.min.js"></script>
<script src="https://www.bimabook.in/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="https://www.bimabook.in/plugins/datatables/js/dataTables.bootstrap.js"></script>
<script src="https://www.bimabook.in/plugins/jquery.form.js"></script>
<script src="https://www.bimabook.in/resources/js/custom.min.js"></script>
	<script src="https://www.bimabook.in/plugins/chart.js/Chart.min.js"></script> 
	<script>
	$( document ).ready(function() {
		var data = {
			labels: JSON.parse('["Jun-2022","Jul-2022"]'),
			datasets: [
			{
				label: 'OK Policies',
				borderColor: "#00A28A",
				backgroundColor: "#00A28A",
				data: JSON.parse('[0,1]'),
			},
			{
				label: 'Cancelled Policies',
				borderColor: "#00A28A",
				backgroundColor: "red",
				data: JSON.parse('[1,0]'),
			}
			]
		}; 
		var canvas = $('#canvas-total-policy')[0].getContext('2d');
		var chart = new Chart(canvas, {
		type: 'bar',
		data: data,
		options: {
			responsive: true,
			legend: {
				position: 'top' // place legend on the right side of chart
			},
			scales: {
			xAxes: [{
				gridLines: {
					display: true,
					drawBorder: false,
					drawOnChartArea: false
				},
				stacked: true,
			}],
			yAxes: [{
				gridLines: {
					display: true,
					borderDash: [8, 4]
				},
				ticks: {
					stepSize: 20
				}, 
				stacked: true,
			}]
			}
		}
		});
			});
	</script>
  </body>
</html>